.appHeaderWrapper{
	background: #092e20;
}

.appHeaderWrapper a {
	color: #FFF;	
}

.appLogoContainer > h1{
	/* Hide the text of the title so that we can show the Django logo instead */
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	
	background-image: url("/static/app/django/django_logo.png");
	background-repeat: no-repeat;
	background-position-y: 7px;
}


